{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="./src/manifest.json">
    <link rel="shortcut icon" href="./src/favicon.ico">

    <title>Spotify Playlist</title>
  <link rel="shortcut icon" href="favicon.ico"></head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="root"></div>
    {% render_bundle 'vendors' %}
    {% render_bundle 'app' %}
</html>
