html, body {
  background-color: gold;
  padding: 10px;
}

.App {
  text-align: center;
  background: teal;
  padding: 10px;
}

/* aqua 	#00FFFF
blue 	#0000FF
cyan 	#00FFFF
gold 	#FFD700
gray 	#808080
lime 	#00FF00
navy 	#000080
peru 	#CD853F
pink 	#FFC0CB
plum 	#DDA0DD
red 	#FF0000
snow 	#FFFAFA
tan 	#D2B48C
teal 	#008080 */